<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="utf-8">
  <title>Poliquiz</title>
  <link rel="shortcut icon" href="feelogo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
  <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/home.css" type="text/css">
  <script src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Poliquiz</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="nav"><a href="/about">About</a></li>
				<li class="nav"><a href="/staff">Staff</a></li>
				<li class="nav"><a href="/quiz">Quiz</a></li>
				<li class="nav"><a href="/support">Support</a></li>
        <li class="active nav"><a href="/faq">FAQ</a></li>
			</ul>
		</div>
	</nav>
 	<div class="container">
		<div class="panel panel-default">
			<div class="row-fluid faq">
				<div class="span10 offset1">
					<h3>FAQ</h3>
					<div class="accordion" id="accordion2">
					  <div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" 
									 data-parent="#accordion2" href="#collapseOne"> What is the knowledge problem?
								</a>
							</div>
							<div id="collapseOne" class="accordion-body collapse">
								<div class="accordion-inner">
									No one person holds all the relevant information needed to plan an economy. F.A. Hayek observed this in his widely cited article, "The Use of Knowledge in Society" where he points out  that the data required for rational economic planning are distributed among individual actors and thus exist unavoidably outside the knowledge of a central authority. 
Paul Cwik - Problems and Prices
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse"
									 data-parent="#accordion2" href="#collapseTwo">
									What's wrong with central planning?
								</a>
							</div>
							<div id="collapseTwo" class="accordion-body collapse">
								<div class="accordion-inner">
									It comes down to to the fact that people are different. Everyone has different wants. It also is because resources are scarce and we can't know how to use them because there the knowledge required is impossible to grasp.
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse"
									 data-parent="#accordion3" href="#collapseThree">
									How can we rid of disease?
								</a>
							</div>
							<div id="collapseThree" class="accordion-body collapse">
								<div class="accordion-inner">
									Diseases is a big concern. Our closest friends and family may be affected by several. The way to prevent and cure these conditions, however is through free markets. When we try to fix a problem for a nation it will run into the knowledge problem. We don't know which disease people actually are bothered about to spend our limited resources on. When it is a free market people can tell companies what diseases they care about with their money.
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse"
									 data-parent="#accordion4" href="#collapseFour">
									How can we rid of poverty?
								</a>
							</div>
							<div id="collapseFour" class="accordion-body collapse">
								<div class="accordion-inner">
									Poverty is another concern. Life isn't fair and people can be in poverty for a significant amount of their lives, leaving them vulnerable to many negative events. With free markets, more jobs will be available and there will be no legal requirements for licenses to work.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default" id="panel2">
			<div class="row-fluid pitch">
			</div>
		</div>
		<div class="panel panel-default" id="panel3">
			<div class="row" style="height: 100%; padding-top: 0px">
			</div>
		</div>
		<div class="panel panel-default" id="panel4">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<p class="heads">Contact us</p>
					<div class="col-xs-12" style="padding-left: 0px">
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

</body>
</html>

